body {
  max-width: 1920px;
  margin: 0;
}
.wrapper {
  border-top: #DEDEDE 0.5px solid;
  display: flex;
  justify-content: center;
  padding: 0 360px;
}
.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
}
.navBtn {
  flex-grow: 1;
}
.navBtn img {
  width: 20px;
  height: 20px;
  fill: #707070;
  margin: 0px 8px 0 0;
  vertical-align: -5%;
}
.navBtn.info img {
  transform: rotate(23deg);
}
.navBtn span {
  font-family: Montserrat;
  font-size: 14px;
  color: #707070;
  font-weight: 300;
  text-decoration: none solid #707070;
}
ul.navbar {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}
ul.navbar > li.navBtn {
  display: flex;
  padding: 0 27px;
  border-right: 1px solid #c9c8c7;
}
ul.navbar > li.navBtn:last-of-type {
  padding: 2px 0 2px 27px;
  border-right: none;
}
ul.navbar > li.navBtn:last-of-type img {
  height: 16px;
  width: 22px;
  margin: 0;
}
ul.navbar a {
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 14px;
  color: #707070;
  text-decoration: none solid #707070;
}
.searchbar {
  display: flex;
  justify-content: space-between;
  height: 123px;
  width: 100%;
  align-items: center;
}
.searchbar .mainIcon {
  width: auto;
  margin: 0 21px 0 0;
  height: 48px;
  font-family: Montserrat;
  font-size: 40px;
  color: #000000;
  font-weight: 500;
  text-decoration: none solid #000000;
}
.searchbar .mainIcon span {
  margin: 0 20px;
  font-weight: 900;
}
.searchbar .mainIcon span:after {
  content: "";
  position: absolute;
  top: 72px;
  width: 55px;
  height: 55px;
  background: transparent url('images/RetinaIcon 1.svg') no-repeat;
  display: inline-block;
  margin: 0 0 0 -40px;
}
.searchbar .search {
  display: flex;
  width: 509px;
  height: 48px;
  border: 1px solid #ff8f00;
  border-radius: 48px;
  background-color: #ffffff;
  overflow: hidden;
  font-family: Montserrat;
  font-size: 14px;
  color: #707070;
  text-decoration: none solid #707070;
}
.searchbar .search input {
  border: none;
  padding-left: 28px;
  flex-grow: 1;
}
.searchbar .search input:focus {
  outline: 0;
}
.searchbar .search .searchButtons {
  display: flex;
  align-items: center;
  border: none;
  color: #707070;
  background-color: #fff;
}
.searchbar .search .searchButtons .searchDropdown {
  padding: 0 40px;
  cursor: pointer;
}
.searchbar .search .searchButtons .searchDropdown:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #707070 transparent transparent transparent;
  margin: 0px 5px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.searchbar .search .searchButtons .searchBtn {
  background-color: #ff8f00;
  height: 48px;
  width: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.searchbar .search .searchButtons .searchBtn img {
  width: 22px;
  height: 22px;
  fill: #ffffff;
}
.searchbar .searchbarButtons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-grow: 1;
}
.searchbar .searchbarButtons .button.share {
  margin: 0 0 0 44px;
}
.searchbar .searchbarButtons .button.favourite {
  margin: 0 0 0 40px;
}
.searchbar .searchbarButtons .button.basket {
  margin: 0 0 0 61px;
}
.searchbar .searchbarButtons .button.basket:after {
  content: '2';
  display: inline-block;
  width: 13px;
  height: 20px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  background-color: #ff8f00;
  border-radius: 20px;
  position: absolute;
  top: 113px;
  margin: -2px -9px;
  color: white;
  line-height: 20px;
  padding: 0 0 0 7px;
}
.searchbar .searchbarButtons .price {
  margin: 0 0 0 21px;
  width: 122px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  color: #202020;
  font-weight: bold;
  text-decoration: none solid #202020;
  text-align: right;
}
.searchbar .searchbarButtons .button {
  height: 32px;
  width: 32px;
}
.menuBar {
  display: flex;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  text-decoration: none solid #000000;
}
.menuBar .menuButton {
  height: 68px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 32px;
  cursor: pointer;
  color: #707070;
}
.menuBar .categories {
  font-size: 18px;
  font-weight: 700;
  padding-left: 0;
  color: black;
}
.menuBar .categories:before {
  border-bottom: 9px double black;
  border-top: 3px solid black;
  content: "";
  height: 3px;
  width: 22px;
  margin-right: 12px;
}
.menuBar .wrapperHelp {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.menuBar .wrapperHelp .menuButton.help {
  padding-right: 0;
}
.menuBar .wrapperHelp .menuButton.help > img {
  height: 25px;
  width: 25px;
  padding-right: 9px;
}
.carousel {
  display: flex;
  justify-content: center;
  background: black;
}
.carousel .carouselButtons {
  position: absolute;
  top: 710px;
  display: flex;
}
.carousel .carouselButtons .carBtn {
  height: 12px;
  width: 12px;
  margin-right: 13px;
  background-color: #707070;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  cursor: pointer;
}
.carousel .carouselButtons .carBtn:hover {
  background-color: #c9c8c7;
  height: 12px;
  width: 12px;
  transition: all 0.5s;
}
.carousel .carouselButtons .carBtn:first-of-type {
  background-color: #c9c8c7;
}
.products {
  width: 100%;
  margin-top: 53px;
  display: inline-block;
  font-family: Montserrat;
  font-size: 14px;
  color: #202020;
  font-weight: 500;
  text-decoration: none solid #202020;
}
.products .weeklyOffer {
  float: left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px 38px;
  border: 2px solid #ff8f00;
  border-radius: 54px;
  width: 402px;
  /*p3 { //czy nie lepiej uzyc osobnego elementu (czy ma to znaczenie przy backendzie)
      font-family: Montserrat;
      width: 50%;
      font-size: 30px;
      color: @darkgrey;
      text-decoration: line-through;

    }*/
}
.products .weeklyOffer h1 {
  font-size: 22px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  margin: 0;
}
.products .weeklyOffer h2 {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  height: 56px;
  width: 120px;
  font-size: 16px;
  color: white;
  background-color: #ff8f00;
  border-radius: 10px;
}
.products .weeklyOffer img {
  height: 284px;
  width: 284px;
  margin-top: 13px;
}
.products .weeklyOffer p1 {
  width: 100%;
  margin-top: 34px;
  color: #202020;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  text-decoration: none solid #202020;
}
.products .weeklyOffer p2 {
  margin-top: 34px;
  width: 50%;
  font-family: Montserrat;
  font-size: 35px;
  color: #ff8f00;
  display: flex;
  align-items: flex-end;
}
.products .weeklyOffer p2:last-of-type {
  font-size: 30px;
  color: #d4d4d4;
  text-decoration: line-through;
  text-align: right;
  justify-content: flex-end;
}
.products .weeklyOffer .addToBasket {
  margin-top: 55px;
  width: 200px;
  height: 47px;
  border-radius: 10px;
  background-color: #ff8f00;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Montserrat;
  font-size: 16px;
  text-decoration: none solid #ffffff;
}
.products .recommended {
  padding: 0 0 0 51px;
  display: flex;
  flex-wrap: wrap;
}
.products .recommended > h1 {
  font-family: Montserrat;
  font-size: 25px;
  color: #202020;
  font-weight: 500;
  text-decoration: none solid #202020;
  border-bottom: #c8c8c8 1px solid;
  width: 100%;
  height: 35px;
}
.products .recommended .prodWrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 1;
}
.products .recommended .prodWrapper > .product {
  max-width: 225px;
  height: 275px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  flex-wrap: wrap;
  margin: 0 9px;
}
.products .recommended .prodWrapper > .product img.productImg {
  width: 212px;
  height: 212px;
}
.products .recommended .prodWrapper > .product p1 {
  width: 225px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
  font-family: Montserrat;
  font-size: 16px;
  color: #202020;
  font-weight: 600;
  text-decoration: none solid #202020;
  line-height: 22px;
}
.products .recommended .prodWrapper > .product p2 {
  width: 225px;
  font-family: Montserrat;
  font-size: 18px;
  color: #202020;
  font-weight: 200;
  text-decoration: none solid #202020;
  line-height: 22px;
}
#wrapperBrands {
  border: none;
}
.brands {
  display: flex;
  flex-flow: column;
  font-family: Montserrat;
  color: #202020;
  font-weight: 600;
  width: 100%;
}
.brands .brandsTitle {
  width: 100%;
  font-size: 25px;
  border-bottom: 1px solid #c9c8c7;
  height: 50px;
  margin: 96px 0 88px 0;
}
.brands .brandsTitle > span {
  border-bottom: 4px solid #ff8f00;
  line-height: 50px;
  float: left;
}
.brands .brands {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.brands .brands > img#brandId1 {
  width: 119px;
  height: 33px;
}
.brands .brands > img#brandId2 {
  width: 122px;
  height: 35px;
}
.brands .brands > img#brandId3 {
  width: 135px;
  height: 43px;
}
.brands .brands > img#brandId4 {
  width: 131px;
  height: 38px;
}
.brands .brands > img#brandId5 {
  width: 132px;
  height: 40px;
}
.brands .brands > img#brandId6 {
  width: 128px;
  height: 47px;
}
