body {
  margin: 0 0 0 0;
}
.header {
  padding: 0 218px 0 218px;
  height: 50px;
  border-bottom: darkgrey 1px solid;
  display: inline-flex;
}
ul > li.navBtn {
  margin: 0 50px 0 50px;
  display: inline-block;
}
ul > li.navBtn.info img {
  width: 20px;
  height: 20px;
  fill: #707070;
  transform: rotate(23deg);
}
/*
ul li.navBtn.info img {
    width: 20px;
    height: 20px;
    fill: #707070;
    transform: rotate(23deg);
}*/
