@orange: #ff8f00;
@white: #ffffff;
@black: #202020;
@darkgrey: #c9c8c7;
@lightgrey: #707070;
@border: #DEDEDE;
@silver: #c8c8c8;

body {
  max-width: 1920px;
  margin: 0;
}

.wrapper {
  border-bottom: @silver 0.5px solid;
  border-top: @border 0.5px solid;
  display: flex;
  justify-content: center;
  padding: 0 360px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  height: 50px;
}

.navBtn {
  flex-grow: 1;
  img {
    width: 20px;
    height: 20px;
    fill: @lightgrey;
    margin: 0px 8px 0 0;
    vertical-align: -5%;
  }
  &.info img {
    transform: rotate(23deg);
  }
  span {
    font-family: Montserrat;
    font-size: 14px;
    color: @lightgrey;
    font-weight: 300;
    text-decoration: none solid rgb(112, 112, 112);
  }
}

ul.navbar {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  > li.navBtn {
    display: flex;
    padding: 0 27px;
    border-right: 1px solid @darkgrey;
    &:last-of-type {
      padding: 2px 0 2px 27px;
      border-right: none;
      img {
        height: 16px;
        width: 22px;
        margin: 0;
      }
    }
  }

  a {
    display: flex;
    align-items: center;
    font-family: Montserrat;
    font-size: 14px;
    color: @lightgrey;
    text-decoration: none solid rgb(112, 112, 112);
  }
}

.searchbar {
  display: flex;
  justify-content: space-between;
  height: 123px;
  width: 100%;
  align-items: center;
  .mainIcon {
    width: auto;
    margin: 0 21px 0 0;
    height: 48px;
    font-family: Montserrat;
    font-size: 40px;
    color: #000000;
    font-weight: 500;
    text-decoration: none solid rgb(0, 0, 0);
    & span {
      margin: 0 20px;
      font-weight: 900;
      &:after {
        content: "";
        position: absolute;
        top: 72px;
        width: 55px;
        height: 55px;
        background: transparent url('images/RetinaIcon 1.svg') no-repeat;
        display: inline-block;
        margin: 0 0 0 -40px;
      }
    }
  }
  .search {
    display: flex;
    width: 509px;
    height: 48px;
    border: 1px solid #ff8f00;
    border-radius: 48px;
    background-color: #ffffff;
    overflow: hidden;
    font-family: Montserrat;
    font-size: 14px;
    color: @lightgrey;
    text-decoration: none solid rgb(112, 112, 112);
    input {
      border: none;
      padding-left: 28px;
      flex-grow: 1;
      &:focus {
        outline: 0;
      }
    }
    .searchButtons {
      display: flex;
      align-items: center;
      border: none;
      color: @lightgrey;
      background-color: #fff;
      .searchDropdown {
        padding: 0 40px;
        cursor: pointer;
        &:after {
          content: '';
          display: inline-block;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 4px 4px 0 4px;
          border-color: @lightgrey transparent transparent transparent;
          margin: 0px 5px;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
      .searchBtn {
        background-color: #ff8f00;
        height: 48px;
        width: 56px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        img {
          width: 22px;
          height: 22px;
          fill: #ffffff;
        }
      }
    }
  }
  .searchbarButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    .button.share {
      margin: 0 0 0 44px;
    }
    .button.favourite {
      margin: 0 0 0 40px;
    }
    .button.basket {
      margin: 0 0 0 61px;
      &:after {
        content: '2';
        display: inline-block;
        width: 13px;
        height: 20px;
        font-family: Montserrat;
        font-size: 10px;
        font-weight: bold;
        background-color: #ff8f00;
        border-radius: 20px;
        position: absolute;
        top: 113px;
        margin: -2px -9px;
        color: white;
        line-height: 20px;
        padding: 0 0 0 7px;
      }
    }

    .price {
      margin: 0 0 0 21px;
      width: 122px;
      height: 24px;
      font-family: Montserrat;
      font-size: 20px;
      color: #202020;
      font-weight: bold;
      text-decoration: none solid rgb(32, 32, 32);
      text-align: right;
    }
    .button {
      height: 32px;
      width: 32px;
    }
  }
}

.menuBar {
  display: flex;
  width: 100%;
  font-family: Montserrat;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  text-decoration: none solid rgb(0, 0, 0);
  .menuButton {
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 32px;
    cursor: pointer;
    color: @lightgrey;
  }
  .categories {
    font-size: 18px;
    font-weight: 700;
    padding-left: 0;
    color: black;
    &:before {
      content: "";
      border-bottom: 9px double black;
      border-top: 3px solid black;
      content: "";
      height: 3px;
      width: 22px;
      margin-right: 12px;
    }
  }
  .wrapperHelp {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    .menuButton.help {
      padding-right: 0;
      > img {
        height: 25px;
        width: 25px;
        padding-right: 9px;
      }
    }
  }
}

.carousel {
  display: flex;
  justify-content: center;
  background: black;
  .carouselButtons {
    position: absolute;
    top: 710px;
    display: flex;
    .carBtn {
      height: 12px;
      width: 12px;
      margin-right: 13px;
      background-color: @lightgrey;
      -webkit-border-radius: 12px;
      -moz-border-radius: 12px;
      border-radius: 12px;
      cursor: pointer;
      &:hover {
        background-color: @darkgrey;
        height: 12px;
        width: 12px;
        transition: all 0.5s;
      }
    }
  }
}

.products {
  width: 100%;
  margin-top: 53px;
  display: inline-block;
  font-family: Montserrat;
  font-size: 14px;
  color: #202020;
  font-weight: 500;
  text-decoration: none solid rgb(32, 32, 32);
  .weeklyOffer {
    float: left;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 30px 38px;
    border: 2px solid #ff8f00;
    border-radius: 54px;
    width: 402px;
    h1 {
      font-size: 22px;
      flex-grow: 1;
      display: flex;
      align-items: center;
      margin: 0;
    }
    h2 {
      display: flex;
      align-items: center;
      text-align: center;
      margin: 0;
      height: 56px;
      width: 120px;
      font-size: 16px;
      color: white;
      background-color: @orange;
      border-radius: 10px;
    }
    img {
      height: 284px;
      width: 284px;
      margin-top: 13px;
    }
    p1 {
      width: 100%;
      font-size: 18px;
      margin-top: 34px;
      color: @black;
      font-family: Montserrat;
      font-size: 18px;
      font-weight: 500;
      text-align: center;
      text-decoration: none solid rgb(32, 32, 32);
    }
    p2 { //czy nie lepiej uzyc osobnego elementu (czy ma to znaczenie przy backendzie)
      margin-top: 34px; // lub w ogóle zamiast p - div
      width: 50%;
      font-family: Montserrat;
      font-size: 35px;
      color: @orange;
      display: flex;
      align-items: flex-end;
      &:last-of-type {
        font-size: 30px;
        color: #d4d4d4;
        text-decoration: line-through;
        text-align: right;
        justify-content: flex-end;
      }

    }
    /*p3 { //czy nie lepiej uzyc osobnego elementu (czy ma to znaczenie przy backendzie)
      font-family: Montserrat;
      width: 50%;
      font-size: 30px;
      color: @darkgrey;
      text-decoration: line-through;

    }*/
    .addToBasket {
      margin-top: 55px;
      width: 200px;
      height: 47px;
      border-radius: 10px;
      background-color: @orange;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Montserrat;
      font-size: 16px;
      text-decoration: none solid rgb(255, 255, 255);
    }
  }
  .recommended {
    padding: 0 0 0 51px;
    display: flex;
    flex-wrap: wrap;
    > h1 {
      font-family: Montserrat;
      font-size: 25px;
      color: @black;
      font-weight: 500;
      text-decoration: none solid rgb(32, 32, 32);
      border-bottom: @silver 1px solid;
      width: 100%;
      height: 35px;
    }
    .prodWrapper {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-grow: 1;
      > .product {
        max-width: 225px;
        height: 275px;
        display: flex;
        justify-content: center;
        flex-grow: 1;
        flex-wrap: wrap;
        margin: 0 9px;
        img.productImg {
          width: 212px;
          height: 212px;
        }
        p1 {
          width: 225px;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          text-align: left;
          font-family: Montserrat;
          font-size: 16px;
          color: #202020;
          font-weight: 600;
          text-decoration: none solid rgb(32, 32, 32);
          line-height: 22px;
        }
        p2 {
          width: 225px;
          font-family: Montserrat;
          font-size: 18px;
          color: #202020;
          font-weight: 200;
          text-decoration: none solid rgb(32, 32, 32);
          line-height: 22px;
        }
      }
    }
  }
}
