body {
  margin: 0;
}
.wrapper {
  border-bottom: #c8c8c8 0.5px solid;
  border-top: #DEDEDE 0.5px solid;
  display: flex;
  justify-content: center;
  padding: 0 224px;
}
.header {
  height: 50px;
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}
.navBtn {
  display: inline-block;
}
.navBtn img {
  width: 20px;
  height: 20px;
  fill: #707070;
  margin: 0px 8px 0 0;
  vertical-align: -5%;
}
.navBtn.info img {
  transform: rotate(23deg);
}
.navBtn span {
  min-width: 140px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: Montserrat;
  font-size: 14px;
  color: #707070;
  font-weight: 300;
  text-decoration: none solid #707070;
}
.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar ul > li.navBtn {
  display: inline-block;
  padding: 0 27px;
}
.navbar ul > li.navBtn.spacing {
  border-right: 1px solid #c9c8c7;
}
.navbar ul > li.navBtn.spacing:before {
  content: "";
  height: 9px;
  width: 1px;
  background-color: black;
  position: absolute;
  right: 235px;
  top: 41px;
}
.navbar ul > li.navBtn.spacing:after {
  content: "";
  height: 9px;
  width: 1px;
  background-color: black;
  position: absolute;
  right: 235px;
  top: 1px;
}
.navbar ul a {
  display: block;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-family: Montserrat;
  font-size: 14px;
  color: #707070;
  text-decoration: none solid #707070;
}
.navbar ul:last-child img {
  width: 22px;
  height: 17px;
}
.searchbar {
  display: flex;
  justify-content: space-between;
  height: 123px;
  width: 100%;
  align-items: center;
}
.searchbar .mainIcon {
  width: auto;
  margin: 0 21px 0 0;
  height: 48px;
  font-family: Montserrat;
  font-size: 40px;
  color: #000000;
  font-weight: 500;
  text-decoration: none solid #000000;
}
.searchbar .search {
  display: flex;
  justify-content: space-between;
  width: 509px;
  height: 48px;
  border: 1px solid #ff8f00;
  border-radius: 48px;
  background-color: #ffffff;
  overflow: hidden;
  font-family: Montserrat;
  font-size: 14px;
  color: #707070;
  text-decoration: none solid #707070;
}
.searchbar .search input {
  border: none;
  padding-left: 28px;
}
.searchbar .search input:focus {
  outline: 0;
}
.searchbar .search div {
  display: flex;
}
.searchbar .search button {
  width: 56px;
  height: 48px;
  border: none;
  color: #707070;
  background-color: #fff;
}
.searchbar .search button.searchDropdown {
  margin: 0 40px;
}
.searchbar .search button.searchDropdown:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #707070 transparent transparent transparent;
  position: absolute;
  top: 113px;
  margin: 0px 40px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.searchbar .search button.searchBtn {
  background-color: #ff8f00;
}
.searchbar .search button.searchBtn img {
  width: 22px;
  height: 22px;
  fill: #ffffff;
}
.searchbar .button.share {
  margin: 0 0 0 44px;
}
.searchbar .button.favourite {
  margin: 0 0 0 40px;
}
.searchbar .button.basket {
  margin: 0 0 0 61px;
}
.searchbar .button.basket:after {
  content: '2';
  display: inline-block;
  width: 13px;
  height: 20px;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: bold;
  background-color: #ff8f00;
  border-radius: 20px;
  position: absolute;
  top: 113px;
  margin: -2px -9px;
  color: white;
  line-height: 20px;
  padding: 0 0 0 7px;
}
.searchbar .price {
  margin: 0 0 0 21px;
  width: 122px;
  height: 24px;
  font-family: Montserrat;
  font-size: 20px;
  color: #202020;
  font-weight: bold;
  text-decoration: none solid #202020;
}
.searchbar .button {
  height: 32px;
  width: 32px;
}
.carousel {
  display: flex;
  justify-content: center;
  background: black;
}
